<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<link rel="stylesheet" th:href="@{/css/main.css}"/>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<body>
	<h2>Employee List</h2>
	<div>
		<table border="1">
			<tr>
				<td>ID</td>
				<td>Name</td>
				<td>Age</td>
				<td>Delete</td>
			</tr>
			<tr th:each="employee:${employees}">
				<td><span th:text="${employee.id}"></td>
				<td><span th:text="${employee.name}"></td>
				<td><span th:text="${employee.age}"></td>
				<td><input type="button" value="Delete" th:onclick="'delete_employee(\'' + ${employee.id} + '\');'"/></td>
			</tr>
		</table>
	</div>
</body>
</html>